.encabe{
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}
.contened{
    background-color: cornflowerblue;
    padding: 20px 70px 20px 70px;
    text-align: center;
}
.parra{
    border: 5px solid black;
}
.contened h1{
    border: 5px solid white;
    display: inline-block;

}